@model HomeViewModel
<<<<<<< HEAD

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Subtitle</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Slider sld in Model.Sliders)
                        {
                            <tr>
                                <th scope="row">1</th>
                                <td>@sld.Title</td>
                                <td>@sld.SubTitle</td>
                                <td>@sld.Description</td>
                                <td>
                                    <img style="width:150px" src="~/assets/img/slider/@sld.Image"/>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
=======
@using JuanProject.Models
@{
    ViewData["Title"] = "Index";
}



<button type="button" class="btn btn-primary mt-2 mb-2 ml-3" style="width:80px">CREATE</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sub Title</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Slider sld in Model.Sliders)
        {
            <tr>
                <th scope="row">@sld.Id</th>
                <td>@sld.SubTitle</td>
                <td>@sld.Title</td>
                <td><img src="~/assets/img/slider/@sld.Image" width="150" height="150"></td>
                <td>
                    <button type="button" class="btn btn-warning">EDIT</button>
                    <button type="button" class="btn btn-danger">DELETE</button>
                </td>

            </tr>
        }

    </tbody>
</table>
>>>>>>> 5d97ff2b11fd0b089879efa1394a3129d0c0e1f6
